
@header-height: 32px;
@header-font-size: 14px;
@border-radius: 3px;

.rpanel {

  &.rounded {
    border-radius: @border-radius;
    > header {
      border-radius: @border-radius @border-radius 0 0;
    }
    & > div:last-child {
      border-radius: 0 0 @border-radius @border-radius;
    }
  }

  &.rounded-top {
    border-radius: @border-radius @border-radius 0 0;
    > header {
      border-radius: @border-radius @border-radius 0 0;
    }
  }

  &.rounded-bottom {
    border-radius: 0 0 @border-radius @border-radius;
    & > div:last-child {
      border-radius: 0 0 @border-radius @border-radius;
    }
  }

  &.raised > header {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
  }

  &.bordered {
    > header {
      border: 1px solid black;
    }
    > .rpanel-body {
      border: 1px solid black;
      border-top: 0 none;
    }

  }

  > header {
    display: block;
    height: @header-height;
    font-size: @header-font-size;

    .rpanel-icon {
      display: block;
      float: left;
      font-size: 125%;
      height: @header-height;
      line-height: (@header-height - 4);
      margin-right: -6px;
      text-align: center;
      width: (@header-height - 2);
    }

    .rpanel-title {
      margin-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 100%;
      display: inline-block;
      letter-spacing: 0;
      line-height: @header-height;
      position: relative;
      width: auto;
    }

    .rpanel-control {
      border-left: 1px solid black;
      float: right;
      height: @header-height;
      min-width: @header-height;
      display: inline-block;
      line-height: @header-height;
      margin: 0;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
  }
}

@import 'themes/grayscale';
@import 'themes/lightblue';
